# Entorno Virtual
venv/
env/
.env

# Base de Datos Local
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Streamlit
.streamlit/

# VS Code / IDEs
.vscode/
.idea/
.DS_Store
